@font-face {
    font-family: 'thunder'; /* This should match the name you use in your Tailwind CSS configuration */
    src: url('/fonts/Thunder-BoldLC 700.otf') format('opentype'); /* truetype - opentype */
    /* font-weight: 400;
    font-style: normal;
    font-display: block */
}
